<div ng-controller="publicacaoCtrll">
    <form method="post" asp-action="Cadastro" enctype="multipart/form-data">
        <div class="form-group col-md-6">
            <label>Título</label>
            <input class="form-control" type="text" name="Titulo" placeholder="Título da publicação" />
        </div>
        <div class="form-group">
            <label>Conteúdo</label>
            <textarea class="form-control" name="Conteudo" placeholder="Conteúdo da publicação"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label>Imagem</label>
            <input class="form-control" name="imagem" type="file" />
        </div>
        <div class="form-group col-md-4">
            <label>Categoria</label>
            <select class="form-control" name="CategoriaId" ng-model="publicacao.categoriaId">
                <option value="" disabled selected>Selecione uma Categoria</option>
                <option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.nome}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Tags</label>
            <select class="form-control" name="tagIds" ng-model="publicacao.tagIds" multiple>
                <option ng-repeat="tag in tags" value="{{tag.id}}">{{tag.nome}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    </form>
</div>
