<div class="modal fade" id="modalCadastroTag" tabindex="-1" role="dialog" aria-labelledby="modalCadastroLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCadastroLabel">Cadastro</h5>
            </div>
            <form method="post" asp-action="Cadastro">
                <div class="modal-body">
                    <input type="hidden" name="id" ng-value="tag.id" />
                    <input type="text" name="nome" class="form-control" ng-model="tag.nome" placeholder="Nome da Tag">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
                <input name="__RequestVerificationToken" type="hidden" value="@Html.AntiForgeryToken().ToString()" />
            </form>
        </div>
    </div>
</div>
