
@{
    ViewData["Title"] = "Cadastro";
}

<h2>Cadastro</h2>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form ng-submit="salvar()">
            <div class="form-group">
              <label>Nome</label>
              <input class="form-control" />
            </div>
            <div>
                <button type="submit" style="margin-bottom:auto;" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>