<div ng-controller="tagCtrll">
    <form class="mb-md-4" ng-submit="salvar()" ng-init="lerUrl()">
        <div class="col-md-4">
            <label for="nome">Nome</label>
            <input class="form-control" type="text" name="nome" ng-model="tag.nome" />
        </div>      
    </form>  
    <button class="btn btn-primary">Salvar</button>
 </div>